.theme-neo-brutalism {
  --background: #ffffff;
  --foreground: #000000;
  --card: #ffffff;
  --card-foreground: #000000;
  --popover: #ffffff;
  --popover-foreground: #000000;
  --primary: #ff3333;
  --primary-foreground: #ffffff;
  --secondary: #ffff00;
  --secondary-foreground: #000000;
  --muted: #f0f0f0;
  --muted-foreground: #333333;
  --accent: #0066ff;
  --accent-foreground: #ffffff;
  --destructive: #000000;
  --destructive-foreground: #ffffff;
  --border: #000000;
  --input: #000000;
  --ring: #ff3333;
  --chart-1: #ff3333;
  --chart-2: #ffff00;
  --chart-3: #0066ff;
  --chart-4: #00cc00;
  --chart-5: #cc00cc;
  --sidebar: #f0f0f0;
  --sidebar-foreground: #000000;
  --sidebar-primary: #ff3333;
  --sidebar-primary-foreground: #ffffff;
  --sidebar-accent: #0066ff;
  --sidebar-accent-foreground: #ffffff;
  --sidebar-border: #000000;
  --sidebar-ring: #ff3333;
  --font-sans: DM Sans, sans-serif;
  --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --font-mono: Space Mono, monospace;
  --radius: 0px;
  --shadow-x: 4px;
  --shadow-y: 4px;
  --shadow-blur: 0px;
  --shadow-spread: 0px;
  --shadow-opacity: 1;
  --shadow-color: hsl(0 0% 0%);
  --shadow-2xs: 4px 4px 0px 0px hsl(0 0% 0% / 0.50);
  --shadow-xs: 4px 4px 0px 0px hsl(0 0% 0% / 0.50);
  --shadow-sm: 4px 4px 0px 0px hsl(0 0% 0% / 1.00), 4px 1px 2px -1px hsl(0 0% 0% / 1.00);
  --shadow: 4px 4px 0px 0px hsl(0 0% 0% / 1.00), 4px 1px 2px -1px hsl(0 0% 0% / 1.00);
  --shadow-md: 4px 4px 0px 0px hsl(0 0% 0% / 1.00), 4px 2px 4px -1px hsl(0 0% 0% / 1.00);
  --shadow-lg: 4px 4px 0px 0px hsl(0 0% 0% / 1.00), 4px 4px 6px -1px hsl(0 0% 0% / 1.00);
  --shadow-xl: 4px 4px 0px 0px hsl(0 0% 0% / 1.00), 4px 8px 10px -1px hsl(0 0% 0% / 1.00);
  --shadow-2xl: 4px 4px 0px 0px hsl(0 0% 0% / 2.50);
  --tracking-normal: 0em;
  --spacing: 0.25rem;
}

.dark.theme-neo-brutalism {
  --background: #000000;
  --foreground: #ffffff;
  --card: #333333;
  --card-foreground: #ffffff;
  --popover: #333333;
  --popover-foreground: #ffffff;
  --primary: #ff6666;
  --primary-foreground: #000000;
  --secondary: #ffff33;
  --secondary-foreground: #000000;
  --muted: #1a1a1a;
  --muted-foreground: #cccccc;
  --accent: #3399ff;
  --accent-foreground: #000000;
  --destructive: #ffffff;
  --destructive-foreground: #000000;
  --border: #ffffff;
  --input: #ffffff;
  --ring: #ff6666;
  --chart-1: #ff6666;
  --chart-2: #ffff33;
  --chart-3: #3399ff;
  --chart-4: #33cc33;
  --chart-5: #cc33cc;
  --sidebar: #000000;
  --sidebar-foreground: #ffffff;
  --sidebar-primary: #ff6666;
  --sidebar-primary-foreground: #000000;
  --sidebar-accent: #3399ff;
  --sidebar-accent-foreground: #000000;
  --sidebar-border: #ffffff;
  --sidebar-ring: #ff6666;
  --font-sans: DM Sans, sans-serif;
  --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --font-mono: Space Mono, monospace;
  --radius: 0px;
  --shadow-x: 4px;
  --shadow-y: 4px;
  --shadow-blur: 0px;
  --shadow-spread: 0px;
  --shadow-opacity: 1;
  --shadow-color: hsl(0 0% 0%);
  --shadow-2xs: 4px 4px 0px 0px hsl(0 0% 0% / 0.50);
  --shadow-xs: 4px 4px 0px 0px hsl(0 0% 0% / 0.50);
  --shadow-sm: 4px 4px 0px 0px hsl(0 0% 0% / 1.00), 4px 1px 2px -1px hsl(0 0% 0% / 1.00);
  --shadow: 4px 4px 0px 0px hsl(0 0% 0% / 1.00), 4px 1px 2px -1px hsl(0 0% 0% / 1.00);
  --shadow-md: 4px 4px 0px 0px hsl(0 0% 0% / 1.00), 4px 2px 4px -1px hsl(0 0% 0% / 1.00);
  --shadow-lg: 4px 4px 0px 0px hsl(0 0% 0% / 1.00), 4px 4px 6px -1px hsl(0 0% 0% / 1.00);
  --shadow-xl: 4px 4px 0px 0px hsl(0 0% 0% / 1.00), 4px 8px 10px -1px hsl(0 0% 0% / 1.00);
  --shadow-2xl: 4px 4px 0px 0px hsl(0 0% 0% / 2.50);
}
