[tool.poetry]
name = "convo-api-py"
version = "0.1.0"
description = ""
authors = []
packages = [{include = "convo", from = "src"}]

[tool.poetry.dependencies]
python = ">=3.11,<3.13"
pydantic = "^2.9.2"
langchain-community = "^0.3.1"
openai = "^1.51.2"
langchain = "^0.3.2"
psycopg = "^3.2.3"
botocore = "^1.35.36"
# This seems to be not imported anywhere
# iyio_common = { git = "https://github.com/iyioio/common.git", subdirectory = "packages/iyio-common-py" }
iyio_common = { path = "../iyio-common-py", develop=true }
boto3 = "^1.35.36"
psycopg2-binary = "^2.9.9"
# Need to use this fork until build issues are resolved with the main age Python package
apache-age-python = { git = "https://github.com/zombie-einstein/age.git", subdirectory = "drivers/python" }
nano-graphrag = "^0.0.8"
fastapi = "^0.115.2"
uvicorn = "^0.32.0"
unstructured = { version = "^0.15.13", extras = ["csv", "doc", "docx", "epub", "md", "msg", "odt", "org", "pdf", "ppt", "pptx", "rtf", "rst", "tsv", "xlsx"] }

[tool.poetry.group.dev.dependencies]
pre-commit = "^4.0.1"
pytest = "^8.3.3"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
